[Desktop Entry]
Name=COSMIC Classic Menu
Exec=cosmic-ext-classic-menu-applet
Terminal=false
Type=Application
StartupNotify=true
Icon=com.championpeak87.cosmic-ext-classic-menu
Categories=COSMIC;
Keywords=COSMIC
MimeType=
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto