[Desktop Entry]
Name=COSMIC Classic Menu
Type=Application
Exec=/home/championpeak87/Dokumenty/cosmic-classic-menu/target/release/cosmic-classic-menu
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Start
x-OverflowPriority=10
