[Desktop Entry]
Name=COSMIC Classic Menu
Icon=com.championpeak87.cosmic-classic-menu
Type=Application
Exec=/usr/bin/cosmic-classic-menu
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Start
x-OverflowPriority=10
